@model IEnumerable<veterinaria.Models.mascota>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de mascotas</h2><br />

<p>
    @Html.ActionLink("Nueva mascota", "Create", null, new { @class = "btn btn-success" })
</p><br />
<table class="table table-bordered table-striped">
    <tr>
        <th>
           Nombre de la mascota
        </th>
        <th>
            Sexo
        </th>
        <th>
            Raza
        </th>
        <th>
            Tipo de animal
        </th>
        <th>
           Fecha de ingreso
        </th>
        <th>
            Fecha de nacimiento
        </th>
        <th>
           Nombre del dueño
        </th>
        <th>
            N° de telefono
        </th>
        <th>
            Opciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreMascota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.raza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreDueno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonoDueno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idMascota }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.idMascota }, new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", new { id=item.idMascota }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
