@model veterinaria.Models.personal

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar personal</h2>

<h3>Estas seguro que quieres eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre completo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            N° de identificación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            Fecha de ingreso a la clínica:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>

        <dt>
           Fecha de nacimiento:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            Especialización:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especializacion)
        </dd>

        <dt>
            Salario:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario)
        </dd>

        <dt>
            N° de teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
           Dirección:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" />
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
</div>
    }
</div>
