@model IEnumerable<veterinaria.Models.personal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.especializacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.especializacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPersonal }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPersonal }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPersonal })
        </td>
    </tr>
}

</table>
