@model IEnumerable<veterinaria.Models.personal>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de personal</h2><br />

<p>
    @Html.ActionLink("Nuevo personal", "Create", null, new { @class = "btn btn-success" })
</p><br />
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Nombre Completo
        </th>
        <th>
            N° de Identificación
        </th>
        <th>
            Fecha de ingreso a la veterinaria
        </th>
        <th>
            Fecha de nacimiento
        </th>
        <th>
            Especialización
        </th>
        <th>
            Salario
        </th>
        <th>
            N° de Telefono
        </th>
        <th>
            Dirección
        </th>
        <th>
            Opciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.especializacion)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.salario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idPersonal }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Detalles", "Details", new { id=item.idPersonal }, new { @class = "btn btn-success" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idPersonal }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
