@model veterinaria.Models.consultaMedica

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar consulta</h2>

<h3>Estas seguro que quieres eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripcion de la consulta:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionConsulta)
        </dd>

        <dt>
           Fecha de la consulta:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaConsulta)
        </dd>

        <dt>
            Costo de la consulta:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoConsulta)
        </dd>

        <dt>
            Nombre de la mascota
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mascota.nombreMascota)
        </dd>

        <dt>
            Nombre del dueño:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personal.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
    </div>
    }
</div>
