@model veterinaria.Models.consultaMedica

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la consulta</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripcion de la consulta:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionConsulta)
        </dd>

        <dt>
            Fecha de la consulta:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaConsulta)
        </dd>

        <dt>
            Costo de la consulta:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoConsulta)
        </dd>

        <dt>
            Nombre de la mascota
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mascota.nombreMascota)
        </dd>

        <dt>
            Nombre del dueño:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personal.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idCita }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
</p>
