@model IEnumerable<veterinaria.Models.consultaMedica>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de consultas</h2><br />

<p>
    @Html.ActionLink("Nueva consulta", "Create", null, new { @class = "btn btn-success" })
</p><br />
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Descripcion de la consulta
        </th>
        <th>
            Fecha de la consulta:
        </th>
        <th>
            Costo de la consulta
        </th>
        <th>
            Nombre de la mascota
        </th>
        <th>
            Nombre del dueño
        </th>
        <th>
            Opciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costoConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mascota.nombreMascota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.personal.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idCita }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Detalles", "Details", new { id=item.idCita }, new { @class = "btn btn-success" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idCita }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
